<style>
  .center {
    margin: auto;
    width: 60%%;
    border: 3px solid #a5addb;
    padding: 10px;
  }
</style>

<div class="center">
  <h1>Calculadora básica</h1>

  <form action="resultado">
    <input type="number" name="numero_1" id="number1" placeholder="Digite um número">
    <br>
    <br>
    <input type="number" name="numero_2" id="number2" placeholder="Digite outro número">
    <br>
    <br>
    <button type="submit" name="add">Adição</button>
    <button type="submit" name="subtract">Subtração</button>
    <button type="submit" name="multiply">Multiplicação</button>
    <button type="submit" name="divide">Divisão</button>
  </form>
</div>